body{
    font-family: "Open Sans", serif;
    font-style: normal;

    margin: 0;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;

    color: #646464;
}

h1,h2,h3{
    text-transform: capitalize;
}


h1,h2{
    margin: 0;
    font-weight: 600;
    font-style: normal;

    color: #212121;
    line-height: 78px;
    font-family: Poppins, serif;
}

h2{
    font-weight: 500;
    font-size: 48px;
}

h1{
    font-size: 72px;
}

h3{
    font-weight: bold;
    font-size: 24px;
}

li{
    font-weight: 400;
}

.header-caption{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 27px;

    color: #646464;
}